<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-header">Manage Book</li>
      
      <li class="nav-item">
        <a href="/book/books" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <!-- <ion-icon name="book-outline"></ion-icon> -->
          <p class="text">Books</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/book/add-book" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <!-- <ion-icon name="book-outline"></ion-icon> -->
          <p class="text">Add Book</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/book/return-book" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <!-- <ion-icon name="book-outline"></ion-icon> -->
          <p class="text">Return Book</p>
        </a>
      </li>

      <li class="nav-header">Manage Member</li>
      
      <li class="nav-item">
        <a href="/book/books" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <!-- <ion-icon name="book-outline"></ion-icon> -->
          <p class="text">All Members</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/book/add-book" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <!-- <ion-icon name="book-outline"></ion-icon> -->
          <p class="text">Add Member</p>
        </a>
      </li>
      
      
      
      
      
      
      
      
      
  </nav>